div.tree {
    text-align: left;
    width: 90%;
    margin: 100px auto;
    position: absolute;
    left: 40%;
    right: 40%;
}

.tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}